<footer>
    <div class="row">
        <div class="col-lg-12 footer">
            <span>
                <a href="https://github.com/reflectivity/reflectivity.github.io/blob/master/{{page.path}}">Edit this page</a> on GitHub.
            </span><br>
            {% if page.author.size > 0 %}
                <span>
                    The page has been written with contributions from: {{page.author}}.
                </span><br>
            {% endif %}
            {% if page.last_updated %}
                <span>Page last updated:</span> {{page.last_updated}}<br>
            {% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}.<br>
        </div>
    </div>
</footer>

