---
layout: default
---

<style>
  table, tr, td {
      border: none;
  }
  a.tt:link {
    color: black;
  }
  a.tt:visited {
    color: black;
  }
  a.tt:hover {
    color: black;
    text-decoration: underline;
  }
</style>

<div class="home">

  {{ content }}
  <center>
  <img src="https://github.com/reflectivity/logo/raw/master/aglavic/ORSO_Logo_clean.png" width="50%">
  </center>
  <br><br>
  <table>
    <tr>
      <td>
        <a class="tt" href="./workshops/">
          <i class="fas fa-handshake fa-5x"></i>
          <br>
          Workshops
        </a>
      </td>
      <td>
        <a class="tt" href="./what_is_orso/">
          <i class="fas fa-question-circle fa-5x"></i>
          <br>
          What is ORSO?
        </a>
      </td>
      <td>
        <a class="tt" href="./working_groups/">
          <i class="fas fa-users fa-5x"></i>
          <br>
          Working Groups
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="tt" href="./get_involved/">
          <i class="fas fa-door-open fa-5x"></i>
          <br>
          Get Involved
        </a>
      </td>
      <td>
        <a class="tt" href="https://us10.campaign-archive.com/home/?u=e7e953117fa45f665f9030aaa&id=fa298202d4">
          <i class="fas fa-newspaper fa-5x"></i>
          <br>
          News
        </a>
      </td>
      <td>
        <a class="tt" href="./information/FAQ/">
          <i class="fas fa-wave-square fa-5x"></i>
          <br>
          FAQs
        </a>
      </td>
    </tr>
  </table>
  </div>

<div class="home">

  This is an online home for the Open Reflectivity Standards Organisation (ORSO), a collaborative network of scientists interested in <a href="https://en.wikipedia.org/wiki/Neutron_reflectometry">neutron</a> and <a href="https://en.wikipedia.org/wiki/X-ray_reflectivity">X-ray</a> reflectometry.
  It should be noted that the term <a href="https://en.wikipedia.org/wiki/Reflectometry">reflectometry</a> is also used for a number of techniques that are not covered by this organisation.
  <br><br>
  It is intended that this website contains information relevant to all levels of interst in reflectometry.
  <br><br>
  We have a number of educational <a href="./info">resources</a> for reflectometry and directories of reflectometry instrumentation.
  <br><br>
  ORSO is divided into four working groups which cover different aspects of this collaboration.
  <ul>
    <li>
      <a href="./working_groups/edu_and_outreach/">Education and outreach</a>: The education and outreach working group aims to develop understanding of reflectivity techniques and disseminate information about reflectivity analysis.
    </li>
    <li>
      <a href="./working_groups/file_formats/">File formats</a>: This working group aims to draft a spec for a standard file format to be used across X-ray and neutron reflectivity. This is an important goal to move towards interoperability across facilities.
    </li>
    <li>
      <a href="./working_groups/analysis/">Data Analysis</a>: The working group focused on data analysis is targetting a universal descriptive model language for reflectometry analysis. Additionally, they hope to develop test cases for reflectometry calculations to ensure robustivity across analysis software.
    </li>
    <li>
      <a href="./working_groups/reproducibility/">Reproducibility</a>: The reproducibility working group is focused on creating guidelines to ensure reproducibility of data reduction and analysis of neutron and X-ray reflectivity measurements.
    </li>
  </ul>
  The organisation has had two workshops to date and more are planned. Details can be found <a href="./workshops">here</a>.
  <br><br>
<br><br>
<a class="twitter-timeline" data-height="400" href="https://twitter.com/GisansPapers?ref_src=twsrc%5Etfw">
    Tweets by GisansPapers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br><br>

</div>
