---
layout: default
---

<div class="home">

  {{ content }}
  This is an online home for the open reflectivity standards organisation (ORSO), a collaborative network of scientists interested in neutron and X-ray reflectometry.
  <br><br>
  The inargural meeting of what has now become ORSO (Open Reflectivity Standards Organisation) took place at the end of <a href="./workshop_2019">October 2019</a>. 
  <br>
  The meeting had participants from a large number (though not all) of X-ray and neutron facilities from around the world. There was general agreement that there should be some collaboration within reflectivity, towards the standardisation of data formats, reduction, and analysis. A series of <a href="./working_groups">working groups</a> were set up. 
  <br>
  This organisation and working groups are open to all, to join a working group please just sign up on the message board or contact the group chair. Additionally, there is a GitHub organisation which adminsters this webpage that you can become an owner of by contacting <a href="mailto:andrew.mccluskey@diamond.ac.uk">Andrew</a>. 
  <br><br>
  The <a href="./workshop_2020">next meeting of ORSO</a> is planned to take place as a satellite to <a href="https://www.sxns16.org/">SXNS16</a> in Lund in June 2020. 
  <br><br>
  <header class="post-content"><h1>News</h1></header>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
        <header class="post-header">
          <h3 class="post-title">
            {% if post.external-url %}
              <a class="post-link" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
            {% else %}
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            {% endif %}
          </h3>

          <p class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.categories != empty or post.tags != empty %}
              {% include category_links.html categories=post.categories tags=post.tags %}
            {% endif %}
            {% if post.external-url %}
              • <a href="{{ post.url | relative_url }}">Permalink</a>
            {% endif %}
          </p>
        </header>

        <div class="post-content">
          {{ post.excerpt }}
        </div>
        {% if post.content contains site.excerpt_separator %}
          <p class="post-continue">
            <a href="{{ post.url | relative_url }}">Read on &rarr;</a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
